body {
  display: flex;
  flex-direction: column;
  column-count: 2;
  min-height: 100vh;

}

footer,
header {
  text-align: center;
  min-height: 10vh;
  
  background-color: blue;
}
.text-blue {
  color: blue;
  background-color: blue;
}

h1.text-white {
  color: white;
  display: block;
  font-size: 15em;
}